header#main-header
  .main-header-container
    .main-header-title Ruvacaba Art Gallery
    .main-header-instructions Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis est in lacus porta eleifend. Integer sed nisl quam. Sed commodo condimentum est vitae tempus. Interdum et malesuada fames ac.