overlay-dir
  #overlay-curtain
  #overlay-content
    width 100%
    height 100%
    position fixed
    top 0
    left 0
    display none

  #overlay-curtain
    background-color black
    opacity 0.7
    z-index getZindex(1)
    &.overlay-visible
      display block

  #overlay-content
    flex-direction row
    align-items center
    align-content center
    color $white
    z-index getZindex(1)
    &.overlay-visible
      display flex
    .overlay-card
      width 100%
      height 100%
      overflow hidden
      .overlay-card-thumbnail
        width 100%
        height 100%
        img
          max-width 100%
          height 100%
          margin 0 auto
          display block
          @media $smartphone
            width 240px
            height auto
      .overlay-card-description
        display flex
        flex-direction column
        padding 10px
        position absolute
        bottom 0
        .title
        .artist
          font-weight bold
        .title
          font-size 24px
        .artist
          font-size 18px
        .description
        .price
          font-size 14px
        .price
          color $cardPrice
          font-style italic
    .close-button
      width 45px
      height 45px
      position absolute
      right 5px
      top 5px
      cursor pointer
    .left-arrow
    .right-arrow
      align-self center
      clear both
      // position absolute
      cursor pointer
    .left-arrow
      left 5px
    .right-arrow
      right 5px