doctype html
html(lang="en")
  head
    title= 'Rubacava Art Gallery'
    meta(name='viewport',
         content='width=device-width, initial-scale=1, maximum-scale=1')
    //- import bootstrap
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/bootstrap-theme.css")
  body(ng-app='artGalleryApp')
    h1 Welcome to Ruvacaba Art Gallery.
    block body

    script(src='js/dependencies/angular.js')
    script(src='js/app.js')