doctype html
html(lang="en")
  head
    title= 'Rubacava Art Gallery'
    meta(name='viewport',
         content='width=device-width, initial-scale=1, maximum-scale=1')

    //- ------------------------------------------------------------------------
    //- import CSS files

    //- import bootstrap
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/bootstrap-theme.css")
    //- import application styles
    link(rel="stylesheet", href="/styles/app/app.css")

    block head

  body(ng-app='artGalleryApp', ng-class='{"hide-scroll": overlayOpen}')
    //- header
    include app/header/header

    .container-fluid
      block body

    //- ------------------------------------------------------------------------
    //- import JavaScript files

    //- import dependencies
    script(src='js/dependencies/angular.js')

    //- import application JavaScript files
    //- import Services
    script(src='js/app/services/AuthSrv.js')
    script(src='js/app/services/GallerySrv.js')
    script(src='js/app/services/ProfileSrv.js')
    script(src='js/app/services/UserSrv.js')
    //- import Directives
    script(src='js/app/directives/OverlayDir.js')
    //- import Controllers
    script(src='js/app/controllers/LoginCtrl.js')
    script(src='js/app/controllers/HomepageCtrl.js')
    script(src='js/app/controllers/ProfileCtrl.js')
    script(src='js/app/app.js')