doctype html
html(lang="en")
  head
    title= 'Rubacava Art Gallery'
    meta(name='viewport',
         content='width=device-width, initial-scale=1, maximum-scale=1')
    //- import bootstrap
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/bootstrap-theme.css")
    //- import application styles
    link(rel="stylesheet", href="/styles/app/app.css")

  body(ng-app='artGalleryApp')
    //- header will be here
    h1 Welcome to Ruvacaba Art Gallery.

    block body

    //- import dependencies
    script(src='js/dependencies/angular.js')
    //- import application JavaScript files
    script(src='js/app/controllers/LoginCtrl.js')
    script(src='js/app/app.js')