doctype html
html(lang="en")
  head
    title= 'Rubacava Art Gallery'
    meta(name='viewport',
         content='width=device-width, initial-scale=1, maximum-scale=1')

    //- ------------------------------------------------------------------------
    //- import CSS files

    //- import bootstrap (when I thought it was necessary, before having access to 'webestimate/js-sample' repo)
    //- link(rel="stylesheet", href="/styles/bootstrap.css")
    //- link(rel="stylesheet", href="/styles/bootstrap-theme.css")

    //- import application styles
    link(rel="stylesheet", href="/styles/app/app.css")

    block head

  body(ng-app='artGalleryApp',
      ng-controller='mainCtrl',
      ng-class='{"hide-scroll": overlayOpen}')
    .container

      //- header
      include app/header/header

      //- views content
      div(ng-view)

      //- footer
      include app/footer/footer

    script(type="text/ng-template", id='/homepage.html')
      include app/homepage
    script(type="text/ng-template", id='/login.html')
      include app/login/login
    script(type="text/ng-template", id='/profile.html')
      include app/admin/profile

    //- ------------------------------------------------------------------------
    //- import JavaScript files

    //- import dependencies
    script(src='js/dependencies/angular.js')
    script(src='js/dependencies/angular-route.js')

    //- import application JavaScript files
    //- import Services
    script(src='js/app/services/AuthSrv.js')
    script(src='js/app/services/GallerySrv.js')
    script(src='js/app/services/ProfileSrv.js')
    script(src='js/app/services/UserSrv.js')
    //- import Directives
    script(src='js/app/directives/OverlayDir.js')
    //- import Controllers
    script(src='js/app/controllers/LoginCtrl.js')
    script(src='js/app/controllers/MainCtrl.js')
    script(src='js/app/controllers/HomepageCtrl.js')
    script(src='js/app/controllers/ProfileCtrl.js')
    script(src='js/app/app.js')