#main-footer
  width 100%
  position fixed
  bottom 0
  left 0
  .main-footer-container
    display block
    padding 10px 0
    text-align center
    background-color $blueL1
    font-size 14px
    font-weight bold
    color white
    .txt:first-child
      margin-bottom 5px