#overlay-curtain(ng-class='{"overlay-visible": card}')
#overlay-content(ng-class='{"overlay-visible": card}')
  .close-button(ng-click='closeOverlay();')
    .glyphicon.glyphicon-remove
  .left-arrow(ng-click='prevCard();')
    .glyphicon.glyphicon-chevron-left
  .overlay-card
    .overlay-card-thumbnail
      img(ng-src='{{card.url}}')
    .overlay-card-description
      span.title Title: {{card.title}}
      span.artist Artist: {{card.artist}}
      span.description Description: {{card.description}}
      span.price Price: ${{card.price}} USD
  .right-arrow(ng-click='nextCard();')
    .glyphicon.glyphicon-chevron-right