#overlay-curtain(ng-class='{"overlay-visible": card}')
#overlay-content(ng-class='{"overlay-visible": card}')
  .close-button-container
    .close-button(ng-click='closeOverlay();')
      img(src='/images/icon-close.png')
  .image-wrapper
    .left-arrow
      img(src='/images/icon-prev.png', ng-click='prevCard();')
    .card-wrapper
      .thumbnail-detail-wrapper
        img(ng-src='{{card.pictureUrl}}')
        .detail-wrapper
          span.title Title: {{card.title}}
          span.artist Artist: {{card.artist}}
          span.description Description: {{card.description}}
          span.price Price: ${{card.price}} USD
    .right-arrow
      img(src='/images/icon-next.png', ng-click='nextCard();')