// -----------------------------------------------------------------------------
// GLOBAL VARS
// (Base color for Color rule: #04AD65)
$green = #04AD65
$greenBtn = #039356
$greenBtnL1 = #04BA6C
$blue = #1E4247
$blueL1 = #3E8993
$red = #932C1A
$redL1 = #D33F25
$white = #F7F7F7
$gray = #E7E7E7
$black = #313131
$yellow = #F9B112
$cardPrice = #ffcccc
$smartphone = 'screen and (min-width: 320px) and (max-width: 767px)'
$tablet = 'screen and (min-width: 767px) and (max-width: 991px)'
$desktop = 'screen and (min-width: 992px)'
$zLevel = 0

// -----------------------------------------------------------------------------
// GLOBAL FUNCTIONS
// function that gets the next z-index to be assigned for components that will
// be over others (like popups, alerts, and that kind of things)
getZindex(newLevel)
  define('$zLevel', $zLevel + newLevel, true)
  $zLevel

// -----------------------------------------------------------------------------
// GLOBAL STYLES DEFINITION

// for all the elements in the page, include the border and padding widths
// and heights as part of their box model calculation to improve percentage
// assignation for widths
*
  -moz-box-sizing border-box;
  box-sizing border-box;

body
  color $black
  font-family Arial
  z-index getZindex(0)
  &.hide-scroll
    overflow hidden

.container
  padding 0 15px
  margin-bottom 15px
  @media $smartphone
    margin-bottom 30px

form
  width 90%
  margin 0 auto

.form-control
.btn
  border-radius 0
  
.form-control
  border 2px solid $black
  margin-bottom 5px
  padding 10px
  width 100%
  &:focus
    border-color $green
    box-shadow none
  &.ng-invalid
    border-color $redL1
  &.ng-pristine
  &.ng-empty
    border 2px solid $black

.btn
  cursor pointer
  border 2px solid
  background none
  padding 10px 15px
  margin 10px 0
  display inline-block
  &:hover
    border-color $yellow
  &:disabled
  &.disabled
  &[disabled]
    border-color $gray
    color $gray
    cursor default
    &:hover
      border-color $gray
.btn-primary
  border-color $greenBtn
  &:hover
    border-color $greenBtnL1
.btn-secondary
  border-color $blue
  &:hover
    border-color $blueL1
.btn-danger
  border-color $red
  &:hover
    border-color $redL1

.error-message
  color $redL1
  padding 10px
  margin 10px 0
  width 100%
  border-bottom 2px solid $redL1
  -webkit-transition 2s
  transition 2s

.hidden
  display none

@import 'header/header'
@import 'footer/footer'
@import 'login/login'
@import 'homepage/homepage'
@import 'admin/profile'
@import 'directives/overlayDir'