#main-header
  color $blue
  margin 15px 0
  .main-header-container
    height inherit
    display flex
    flex-direction column
    justify-content center
    .main-header-title
      font-size 30px
      font-weight bold
      margin-bottom 10px
    .main-header-instructions
      font-size 18px
      font-weight normal