#main-header
  background-color $green
  // height 150px
  .main-header-container
    text-align center
    height inherit
    display flex
    flex-direction column
    justify-content center
    .main-header-title
      font-size 30px
      font-weight bold
      margin-bottom 10px
    .main-header-instructions
      font-size 18px
      font-weight normal